body {
  margin: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: yellow;
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 10px;
}

.input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 25px;
  text-align: center;
  padding: 10px;
  border: 4px solid green;
  color: green;
}

.input::placeholder {
  color: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  background-color: green;
  color: white;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 1 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.btn {
    filter: brightness(0.9);
}

.score {
    color: green;
    text-align: right;
}